<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    
    <link href="/index.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <script defer src="index.js"></script>
</head>
<body>
    <div id="navbar">
        <div id="account">
            <p>Hello, Nnaemeka</p>
        </div>

        <div id="log-out" onclick="logout()">
            <p>Log out</p>
        </div>
    </div>
    <div class="block">
        <div class="block-head">Checking</div>
        <div class="block-body">
            <h2>$0.00</h2>
            <div class="basic-btn" onclick="confirmDeposit()">
                Deposit
            </div>
            <!--<div class="deposit-box">
                <p>Amount</p>
                <input type="number" min="0" max="5000"/>
                <div class="basic-btn">Confirm</div>
            </div>
        -->
        </div>
    </div>
    <div class="block">
        <div class="block-head">Savings</div>
        <div class="block-body">
            <h2>$0.00</h2>
            <div class="basic-btn">
                Deposit
            </div>
        </div>
    </div>

    <div id="activity-box">
        <p>No activity.</p>
    </div>


</body>
</html>