<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="index.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <p>{{email}}</p>
    <div id="navbar">
        My Account
    </div>
    <div class="block">
        <div class="block-head">Checking</div>
        <div class="block-body">
            <h2>$0.00</h2>
        </div>
    </div>
    <div class="block">
        <div class="block-head">Savings</div>
        <div class="block-body">
            <h2>$0.00</h2>
        </div>
    </div>

    <div id="activity-box">
        <div class="basic-btn">Deposit</div>
        <div class="basic-btn"></div>
    </div>


</body>
</html>