<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banking Application</title>
    <!--<link href="/styles/index.css" rel="stylesheet">-->
    <link href="index.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <script defer src="index.js"></script>
</head>
<body>
    <div id="main-container">
        <div id="title-card">
            <p>Online Banking V1.0</p>
            <!--<img src="/images/title-img.jpg" alt="title card image"/>-->
        </div>
        <div id="form-container">
            <h1>Log in to your account</h1>
            <form id="login-form">
            <input id="email" name="email" placeholder="Email"><br/><br/>
            <input id="password" type="password" name="password" placeholder="Password"><br/><br/>
            <div onclick="login(event)" id="login-btn" role="button">Login</div>
            <!--<input type="submit" value="Login">-->
            </form>
        </div>
    </div>
    <!--<button onclick="get()">Click</button>-->
</body>
</html>